@import url('https://fonts.googleapis.com/css2?family=Tiro+Devanagari+Sanskrit&display=swap');

* {
    margin: 0%;
    padding: 0%;
}

h1 {
    font-family: 'Tiro Devanagari Sanskrit', serif;
    background-image: url(images/4-fondos-de-pantalla-chulos-y-originales-luces-en-colores-pasteles-luces-coloridas-fotos-bonitas-para-poner-en-tu-pantalla-de-telefono.jpeg);
    padding: 2em;
}

h2 {
    font-family: 'Tiro Devanagari Sanskrit', serif;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(132, 251, 255);
    border-radius: 5em;
}

nav li {
    float: right;
}

nav li a {
    display: block;
    color: black;
    text-align: center;
    padding: 1em 2em;
    text-decoration: none;
    background-color: rgb(132, 251, 255);
}

nav li a:hover {
    background-color: rgb(51, 240, 253);
}

table {
    margin-top: 2em;
    border: 1px solid black;
    border-radius: 0.7em;
    box-shadow: 1em 1em 1em rgb(113, 168, 240);
}

th {
    border: 1px solid black;
    border-radius: 0.7em;
}

footer {
    font-family: 'Times New Roman', Times, serif;
    margin-top: 3em;
}